<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-menu (selectedPage)="changePage($event)" [currentPage]="page" *ngIf="page" (onCloseSidenav)="onClose($event, sidenav)" [loggedInUser]="loggedInUser" (onLogout)="logout($event)"></app-menu>
    </mat-sidenav>
    <mat-sidenav-content class="app">
        <mat-toolbar class="header">
            <div fxLayout fxHide.gt-xs>
                <button (click)="onToggleSidenav(sidenav)" mat-icon-button>
                    <mat-icon>menu</mat-icon>
                </button>

            </div>
            <div>
                <ul fxLayout fxLayoutGap="10px" fxLayoutAlign="flex-end" fxHide.xs>
                    <li *ngIf="loggedInUser"><a routerLink="/main">Főoldal</a></li>
                    <li *ngIf="loggedInUser"><a routerLink="/bill">Számlám</a></li>
                    <li *ngIf="loggedInUser"><a routerLink="/dial-indicator">Mérő órám</a></li>
                    <li *ngIf="loggedInUser"><a routerLink="/login" (click)="logout()">Kijelentkezés</a></li>
                </ul>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>

